{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Flask-Admin stuff</h1>
            <p class="lead">
                Choose an action
            </p>
            {% if not current_user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">register</a>
            </p>
            {% else %}
                <div class="panel panel-default">
                    <div class="panel-body">

                    <div class="btn-group" role="group" aria-label="...">
                      <a class="btn btn-default" href="{{ url_for('shop.index_view') }}">Manage shops</a>
                      <a class="btn btn-default" href="{{ url_for('kind.index_view') }}">Manage kinds</a>
                      <a class="btn btn-default" href="{{ url_for('price.index_view') }}">Manage prices</a>
                        <a class="btn btn-default" href="{{ url_for('flavor.index_view') }}">Manage flavors</a>
                        <a class="btn btn-default" href="{{ url_for('tag.index_view') }}">Manage tags</a>
                      <a class="btn btn-default" href="{{ url_for('user.index_view') }}">Manage users</a>
                      <a class="btn btn-default" href="{{ url_for('role.index_view') }}">Manage roles</a>
                    </div>

                    </div>
                </div>

            {% endif %}

            <p>
                <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-search"></i> Api docs</a>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
